@model IEnumerable<FoodNow.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("DisplayPlaces")" data-fn-ajax="true" data-fn-target="#restaurantList" style="text-align:center;">
    <input type="search" id="search" name="searchTerm" class="sreachtextbox" placeholder="Location" value="@Model.First().Suburb"/>
    <script>
        var submitAutocompleteForm = function (event, ui) {
            var $input = $(this);
            $input.val(ui.item.label);
            var $form = $input.parent("form:first");
            $form.submit();
        };

        $("#search").autocomplete({
            source: '@Url.Action("Autocomplete","Home")',
            select: submitAutocompleteForm
        });
    </script>
    @Html.Partial("_EditSearch", Model)
</form>


@Html.Partial("_Restaurants", Model)
