@model IEnumerable<FoodNow.Models.Restaurant>

<div id="restaurantList">
    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <div>@item.City</div>
            <div>@item.Suburb</div>
            <div>@item.Country</div>
            <div>@item.Address</div>
        </div>
    }
</div>
